/src/.idea/
/src/TestResults/
/src/PV178.Homeworks.HW03/bin/
/src/PV178.Homeworks.HW03/obj/
/src/PV178.Homeworks.HW03.Tests/bin/
/src/PV178.Homeworks.HW03.Tests/obj/
/src/PV178.Homeworks.HW03.sln.DotSettings.user
